<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>HtmlPage4</title>
	<meta charset="utf-8" />
    <script src="../js/jquery-1.9.0.js"></script>
    <script src="../vue2.5.16/vue.js"></script>
    <script src="../js/htmlPage4.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{header}}</h1>
        <p>{{message}}</p>
    </div>
    <div id="app2">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
    </div>
    <div id="app3">
        <span v-bind:title="message">            
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app4">
       <p v-if="seen">现在你能看到我了</p>
    </div>
    <div id="app5">
        <ol>
            <li v-for="item in items">
                {{item.text}}
            </li>
        </ol>
    </div>
    <div id="app6">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app7">
        <p>{{message}}</p>
        <input v-model="message" />
    </div>

    <div>
        <ol>
            <todo-item></todo-item>
        </ol>
    </div>

    <div id="app8" class="app8">
        <p>{{message}}</p>
    </div>
</body>
</html>
