body {
    font-family: 'Microsoft YaHei','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content_title {
    background:url(../images/content_title.jpg);
    margin-top:0px;
    margin-bottom:8px;
    padding-left:2px;
    font-size:14px;
    height:29px;
    line-height:29px;
    color:#404040;
    border-bottom:2px solid #8ac2f5;
    font-weight:bold;
    vertical-align:central;    
}
.container {
    width:140px;
    height:140px;
    float:left;
    border-radius:10%;
    background-color:#deeaff;/*#deeaff*/
    margin-left:4px;
    margin-right:4px;
    margin-top:4px;
    margin-bottom:12px;
    box-shadow:1px 1px 1px #54aeed;
    cursor:pointer;
}
.container-top {
    width:100%;
    background-color:#edf4ff;
    height:40px;
    margin-top:30px;
    margin:0 auto;
    margin-top:5%;
    text-align:center;
    line-height:40px;
    font-size:12px;
}
.container-bottom {
    width:100%;
    height:40px;
    line-height:40px;
    background-color:#edf4ff;
    margin-top:2%;
    font-size:11px;
    text-align:center;
    text-overflow:ellipsis;
    word-wrap:break-word;
}
.container-bottom a {
    text-decoration:none;
}
.container-span {
    width:100%;
    background-color:#808080;
    height:50%;
    line-height:100%;
}
.container-panel {
    width:35px;
    height:35px;
    margin:0 auto;
}
.container-green {
    width:35px;
    height:35px;
    border-radius:50%;
    background-color:#108b10;
    margin-top:5px;
}
.container-red {
    width:35px;
    height:35px;
    border-radius:50%;
    background-color:#d02c2c;
    margin-top:5px;
}
