body {
    font-family: 'Microsoft YaHei','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.outer_div {    
    width:80px;
    height:80px;
    float:left;
    color:#333;
    margin-top:8px;
    margin-left:8px;
    margin-right:8px;
    margin-bottom:8px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
    box-shadow: 2px 2px 2px 3px #888888;
    border:1px none;
    border-radius:8px;
}
.outer_div img {
    margin-top:8px;
}
.inner_div {
    width:97%;
    height:46%;
    margin:0 auto;    
    overflow:hidden;
}
.inner_div a {
    font-family:'微软夜黑';
    color:#333;
    margin:0 auto;
    font-size:12px;
    /*text-shadow:1px 1px 1px #808080;*/   
}
.inner_div a:link {
    
}


