@charset 'utf-8';
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#id1 {
    width:200px;
    height:200px;
    background-color:#ff6a00;
}
#link:link{
    color:#00ff21;
    text-decoration:none;
}
#link:visited {
    color:#000000;
}
#link:hover {
    color:#ff0000;
}
#link:active {
    color:#b200ff;
}
#list ul {
    /*list-style:circle;
    list-style-image:url(../images/green24.png);*/
    list-style:url(../images/green24.png) square outside;
}
#list2 ol {
    list-style:url(../images/red24.png) circle outside;
}
#table1 {
    width:280px;
    height:280px;
    border:dashed 2px #ff6a00;
    /*border-collapse:collapse;*/
    text-align:left;
    caption-side:block-start;
}
#table1 tr {
    border:double;
}
#table1 th {
    border:double 2px #00ff21;
}
#table1 td{
    border:dotted;
    vertical-align:top;
    padding:10px;
}
#outline {
    width:120px;
    height:100px;
    margin:20px 30px 40px 50px;
    padding:20px 30px 40px 50px;
    /*outline:dashed;
    outline-color:#00ff21;*/
    outline:double 15px #b200ff;
    border-style:dotted;
    border-left-style:none;
    border-width:medium;
    border-bottom-color:transparent;
    border-bottom-left-radius:unset;
}
#id2 {
    width:200px;
    height:100px;
    background-color:aqua;
    position:relative;
}
#position_left {
    position:relative;
    left:-20px;
}
#position_right {
    position:relative;
    left:20px;
    /*right:20px;效果同left:20px;*/
}
#abs_pos {
    position:absolute;
    top:100px;
    left:300px;
}
#one {
    position:fixed;
    top:140px;
    left:280px;
}
#two {
    position:fixed;
    top:160px;
    left:380px;
}
#image1 {
    position:absolute;
    top:0px;
    left:100px;
}
#image2 {
    position:absolute;
    top:20%;
    left:10%;
}
#scroll {
    width:100px;
    height:100px;
    overflow:scroll;
}
#clip {
    position:absolute;
    clip:rect(0px,100px,100px,0);
}
#z_index {
    position:absolute;
    left:0px;
    z-index:-1;
}
#outer {
    width:800px;
    height:400px;
    border:dotted;
    margin-top:90px;
}
#left {
    position:relative;
    width:200px;
    height:300px;
    border:dotted;
    left:80px;
    top:70px;
}
#right {
    width:200px;
    height:200px;
    float:right;
    border:dotted;
}



